.LeftPlayer {
  width: 200px;
  height: 1092px;
  position: fixed;
  top: 0;
  left: 0;
}

.RightPlayer {
  width: 200px;
  height: 1092px;
  position: fixed;
  top: 0;
  right: 0;
}

.ControlPanel {
  text-align: center;
  width: 70%;
  margin: 0;
  padding: 10px;
  top: 0;
  position: fixed;
  left: 275px;
}

.TurnCounter {
  text-align: center;
  margin: 0;
  top: 700px;
  left:275px;
  position: fixed;
  white-space: pre-wrap;
}

